/* body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border:2px solid black;
} */
/* .container{
    display: flex;
    background-color: yellow;
    height: 400px;
    width:800px;
}
.box1{
    background-color: red;
    
}
.box2{
    background-color:blue;
    
}
.box3{
    background-color: green;
    
}
.box4{
    background-color: salmon;
   
}
.box5{
    background-color: blueviolet;
    
} */